*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
}
.list-container{
    background-color: rgb(221, 207, 234);
    width: 80vw;
    margin: 5vh auto;
    padding: 2rem;
    border-radius: 10px;
}
.entryElem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

/* Styling the buttons */

.btn-controls{
    text-align: center;
}
.btn-controls button{
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border: none;
    border-radius: 5px;
}
.btn-controls button:hover{
    transition: background-color 0.3s;
    cursor: pointer;
}
#addBtn{
    background-color: rgb(98, 147, 98);
    color: white;
}
#addBtn:hover{
    background-color: rgb(59, 99, 59);
}
#delBtn{
    background-color: rgb(124, 73, 73);
    color: white;
}
#delBtn:hover{
    background-color: rgb(72, 28, 28);
}